{% extends "index.html" %}
	
{% block content %}

<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form"><!--login form-->
					<h2>Login to your account</h2>
					<form  action="{{ url_for('login') }}" method="POST">
						<input type="text" name="user" placeholder="Username" />
						<input type="password" name="pwd" placeholder="Password" />
						<button type="submit" formaction="{{ url_for('login') }}" class="btn btn-default">Login</button>
					</form>
				</div><!--/login form-->
			</div>
			<div class="col-sm-1">
				<h2 class="or">OR</h2>
			</div>
			<div class="col-sm-4">
				<div class="signup-form"><!--sign up form-->
					<h2>New User Signup!</h2>
					<form action="{{ url_for('register') }}" method='POST'>
						<input type="test" name="user" placeholder="User"/>
						<input type="password" name="pwd" placeholder="Password"/>
						<button type="submit" formaction = "{{ url_for('register') }}" class="btn btn-default">Signup</button>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section><!--/form-->
	
{% endblock %}
