  
{% extends "index.html" %}
{% block title %}
Non-Fiction Books
{% endblock %}

{% block navbar %}
        <li class='dropdown'><span>Books ▾</span>
          <ul class='features-menu'>         
            <li><a href='fiction'>Fiction</a></li>
            <li><a href='nonfiction'>Non-Fiction</a></li>
          </ul>        
        </li>
        <li><a href='cart'>Cart</a></li>
        <li><a href='login'>Login</a></li>
{% endblock %}

{% block content %}

<div class="books-container">
  <div class="books">
    <div class="row"> 
      <div class="flex-item ">
    <div class="card">
      <img src="static/img/nonbook1.jpeg" alt="Book 1" style="width:100%">
      <h4>Becoming</h4>
      <p class="price">Rs 200</p>
      <p>by Michelle Obama</p>
      <p><button>Add to Cart</button></p>
      
    </div>
  </div>
  <div class="flex-item">
    <div class="card">
      <img src="static/img/nonbook2.jpeg" alt="Book 2" style="width:100%">
      <h4>All the Light We Cannot See</h4>
      <p class="price">Rs 200</p>
      <p>by Anthony Doerr</p>
      <p><button>Add to Cart</button></p>
    </div>
  </div>
  <div class="flex-item">
    <div class="card">
      <img src="static/img/nonbook3.png" alt="Book 1" style="width:100%">
      <h4>Sapiens</h4>
      <p class="price">Rs 200</p>
      <p>by Yuval Noah Harari</p>
      <p><button>Add to Cart</button></p>
    </div>
  </div>
    </div> 
    
  </div>
</div>

{% endblock %}


